@font-face {
    font-family: "Raleway Variable";
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway Variable", Arial, Helvetica, sans-serif;
    
    header {
        width: 100%;
        height: 76px;
        border-bottom: 1px solid #e7e7e7;
        display: flex;
        position: fixed;
        background-color: #fff;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 1rem 4rem;

            a {
                text-decoration: none;
                transition: color .3s ease-in;
            }
            & > a {
                color: #666;

                &:hover {
                    color: #333;
                }
            }
            ul {
                display: flex;
                list-style: none;
                gap: 0 30px;
                font-size: .8rem;

                li a {
                    color: #333;

                    &:hover {
                        color: #337ab7;
                    }
                }
            }
        }
    }

    main {
        section {
            background-image: url(../img/wave.jpg);
            background-size: cover;
            width: 100%;
            height: 900px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            text-align: center;

            article {
                h1 {
                    font-size: 3.75rem;
                    font-weight: 300;
                    margin-bottom: 25px;
                }

                p {
                    margin-bottom: 36px;
                    font-weight: 300;
                }
                
                .buttons {
                    a {
                        text-transform: uppercase;
                        color: #fff;
                        text-decoration: none;
                        font-size: .75rem;
                        font-weight: 700;
                        letter-spacing: 1px;
                        display: inline-block;
                        width: 200px;
                        padding: 15px 0;
                        transition: background-color .2s ease-in;
    
                        &.full {
                            background-color: #745CF9;

                            &:hover {
                                background-color: #4d2efd;
                            }
                        }
                        &.border {
                            border: 2px solid #fff;

                            &:hover {
                                background-color: #fff;
                                color: #000;
                            }
                        }
                    }
                }
        }
    }
}